@{
    ViewData["Title"] = "Informazioni ";
}
<div class="container rounded mt-5 pb-2 bg-dark text-light">

    <h1>@ViewData["Title"]</h1>

    <p>Questa pagina è stata scritta da Alec Morbin</p>

</div>
